<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list style="margin-top: 15px;">
        <div *ngFor="let item of products; let i = index">
          <ion-item *ngIf="item.added" (click)="getProductByDescription(item.description)">
            <!-- <ion-item href="/account/{{i}}" (click)="obtainStudent(i)"> -->
              <img style="height: 50px; padding: 10px;" [src]="item.photo" />
              <ion-label>
                {{item.description}}
                <ion-chip style="margin-right: 3%;" color="primary">${{item.price}}</ion-chip>
                <br>
                <ion-button *ngIf="item.quantity>1" color="primary" style="margin-right: 1%;"  (click)="reduceQuantity(i,item.price)"  size="small" shape="round">
                  <ion-icon name="remove-outline"></ion-icon>
                </ion-button>
                {{item.quantity}}
                <ion-button style="margin-left: 1%;" color="primary" (click)="addQuantity(i,item.price)" size="small" shape="round">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-label>
              <ion-button color="danger" (click)="removeOfCart(i,item.price,item.quantity)" size="small" shape="round">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
          </ion-item>
        </div>
        <ion-item>
          <ion-label style="text-align: right;">
            ${{total}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
